@charset "UTF-8";

@font-face {
  font-family: "sfm-icons";
  src:url("fonts/sfm-icons.eot");
  src:url("fonts/sfm-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/sfm-icons.woff") format("woff"),
    url("fonts/sfm-icons.ttf") format("truetype"),
    url("fonts/sfm-icons.svg#sfm-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sfm-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_-icon--font--"]:before,
[class*=" _-icon--font--"]:before {
  font-family: "sfm-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._-icon--font--at:before {
  content: "a";
}
._-icon--font--bill-pay:before {
  content: "b";
}
._-icon--font--billboard:before {
  content: "c";
}
._-icon--font--brain:before {
  content: "d";
}
._-icon--font--calendar:before {
  content: "e";
}
._-icon--font--car:before {
  content: "f";
}
._-icon--font--cart:before {
  content: "g";
}
._-icon--font--category:before {
  content: "h";
}
._-icon--font--cert:before {
  content: "i";
}
._-icon--font--chart:before {
  content: "j";
}
._-icon--font--company:before {
  content: "k";
}
._-icon--font--company-add:before {
  content: "l";
}
._-icon--font--credit-card:before {
  content: "m";
}
._-icon--font--delete:before {
  content: "n";
}
._-icon--font--destination-air:before {
  content: "o";
}
._-icon--font--destination-cruise:before {
  content: "p";
}
._-icon--font--destination-land:before {
  content: "q";
}
._-icon--font--doc-inv:before {
  content: "r";
}
._-icon--font--download:before {
  content: "s";
}
._-icon--font--email:before {
  content: "t";
}
._-icon--font--gear:before {
  content: "u";
}
._-icon--font--home-billpay:before {
  content: "v";
}
._-icon--font--link:before {
  content: "w";
}
._-icon--font--magnifier:before {
  content: "x";
}
._-icon--font--moon:before {
  content: "y";
}
._-icon--font--paper-airplane:before {
  content: "z";
}
._-icon--font--pencil:before {
  content: "A";
}
._-icon--font--person:before {
  content: "B";
}
._-icon--font--phone:before {
  content: "C";
}
._-icon--font--pictcha-0:before {
  content: "D";
}
._-icon--font--pictcha-2:before {
  content: "E";
}
._-icon--font--pictcha-3:before {
  content: "F";
}
._-icon--font--pictcha-4:before {
  content: "G";
}
._-icon--font--radio-plane:before {
  content: "H";
}
._-icon--font--rate:before {
  content: "I";
}
._-icon--font--sale:before {
  content: "J";
}
._-icon--font--shield:before {
  content: "K";
}
._-icon--font--shirt:before {
  content: "L";
}
._-icon--font--station:before {
  content: "M";
}
._-icon--font--tire:before {
  content: "N";
}
._-icon--font--trades:before {
  content: "O";
}
._-icon--font--trip:before {
  content: "P";
}
._-icon--font--user:before {
  content: "Q";
}
._-icon--font--user-inv:before {
  content: "R";
}
._-icon--font--users:before {
  content: "S";
}
._-icon--font--users-add:before {
  content: "T";
}
._-icon--font--vacations:before {
  content: "U";
}
._-icon--font--vacations-add:before {
  content: "V";
}
._-icon--font--van:before {
  content: "W";
}
._-icon--font--waypoint:before {
  content: "X";
}
._-icon--font--cta-globe:before {
  content: "Y";
}
._-icon--font--globe:before {
  content: "Z";
}
