/* global css { */

*{ outline: none !important; }

html, body{ margin:0; padding:0; }

body{
	overflow-x:hidden !important;
	font-family:'gill sans mt','gill sans','segoe ui',segoe,'century gothic','URW Gothic L','trebuchet ms',trebuchet,arial,sans-serif;
	background: #eff3e1;
	color:#222;
}

input, select, textarea{
	font-family:'gill sans mt','gill sans','segoe ui',segoe,'century gothic','URW Gothic L','trebuchet ms',trebuchet,arial,sans-serif;
}

::-webkit-input-placeholder{
	color: #aaa !important;
}

*:-moz-placeholder{
	color: #aaa !important;
}

*:-ms-input-placeholder {
	color: #aaa !important;
}

._-align--left{
	text-align: left !important;
}

._-align--center{
	text-align: center !important;
}

._-align--right{
	text-align: right !important;
}

._-align--justify,
._-align-justified{
	text-align: justify !important;
}

._-arrow,
._-arrow--up,
._-arrow--down{
	position: relative;
	font-size: 0px;
	line-height: 0%;
	width: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

._-arrow{
	transform: scale3d(.9999,.9999,.9999);
}

._-arrow--up{
	border-bottom: 10px solid #f5ffd3;		
}

._-arrow,
._-arrow--down{
	border-top: solid 10px #F5FFD3;
}

._-arrow--left{
	font-size: 0px;
	line-height: 0%;
	width: 0px;
	border-top: 5px solid transparent;
	border-right: 10px solid #111;
	border-bottom: 5px solid transparent;
}


._-arrow--right{
	font-size: 0px;
	line-height: 0%;
	width: 0px;
	border-top: 5px solid transparent;
	border-left: 10px solid #111;
	border-bottom: 5px solid transparent;
}

/* } global css */