._-window--fat._-admin ._-page--content--inner h2{
	font-size:8vh;
}

._-window--fat._-admin ._-page--content--inner h3{
	font-size:4vh;
}

._-admin ._-admin--section--nav--wrapper{
	clear:both;
	overflow: hidden;
}

._-admin ._-admin--section--nav--wrapper ._-nav{
	display:block;
	list-style: none;
	text-align: center;
}

._-admin ._-admin--section--nav--wrapper ._-nav ._-nav--item{
	display:inline-block;
	position:relative;
	width:24%;
	margin: 0 .25em;
	vertical-align: middle;
}

._-admin ._-admin--section--nav--wrapper ._-nav ._-nav--item a{
	display:block;
/*	position:absolute;*/
	top:0;
	right:0;
	bottom:0;
	left:0;
	padding:4% 2%;
	font-family: quicksand, helvetica, arial, sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 12px;
	background: rgba(17,17,17,.9);
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

._-admin ._-admin--section--nav--wrapper ._-nav ._-nav--item a:hover{
	background-color: rgba(10,10,10,1);
}

._-admin ._-page--admin-vacations ._-admin--section--nav--wrapper ._-nav ._-nav--item a,
._-admin ._-page--admin-leads ._-admin--section--nav--wrapper ._-nav ._-nav--item a{
	color:#00b3d1;
}

._-admin ._-page--admin-orders ._-admin--section--nav--wrapper ._-nav ._-nav--item a{
	color:#f37021;
}

._-admin ._-page--admin-reservations ._-admin--section--nav--wrapper ._-nav ._-nav--item a{
	color:#b00d24;
}

._-admin ._-page--admin-stations ._-admin--section--nav--wrapper ._-nav ._-nav--item a,
._-admin ._-page--admin-settings ._-admin--section--nav--wrapper ._-nav ._-nav--item a{
	color:#40b473;
}

._-admin ._-page--admin-stations ._-admin--section--nav--wrapper ._-nav ._-nav--item._-nav--item--stations--copy a ._-icon--wrapper{
	display:block;
}

._-admin ._-page--admin-stations ._-admin--section--nav--wrapper ._-nav ._-nav--item._-nav--item--stations--copy a ._-icon{
	display:inline-block;
}

._-admin ._-page--admin-analytics ._-admin--section--nav--wrapper ._-nav ._-nav--item a,
._-admin ._-page--admin-users ._-admin--section--nav--wrapper ._-nav ._-nav--item a{
	color:#7f3f98;
}

._-admin ._-admin--section--nav--wrapper ._-nav ._-nav--item ._-icon{
	display: block;
	font-size:10vh;
	line-height: 1.25em;
}

._-admin ._-admin--section--nav--wrapper ._-nav ._-nav--item ._-icon._-icon--add{
	position:absolute;
	top:0;
	left:10%;
	font-size:8vh;
	line-height: 1.75em;
}

._-admin ._-page ._-ui--file-upload{
	display:table;
	position:relative;
	z-index:1000;
	width:100%;
	min-height:34vh;
	height: 34vh !important;
	margin:0 auto;
	color:inherit;
	text-decoration: none;
}

._-admin ._-page ._-ui--file-upload._-selected{
	height:auto !important;
}

._-admin ._-page ._-ui--file-upload._-hover{
	background-color:#fff;
}

._-admin ._-page ._-ui--file-upload ._-icon--wrapper--outer{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1000;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

._-admin ._-page ._-ui--file-upload._-selected ._-icon--wrapper--outer{
	opacity: 0;
	color: #fafafa;
	text-shadow: 0 0 .666em #000;
}

._-admin ._-page ._-ui--file-upload._-selected:hover ._-icon--wrapper--outer{
	opacity: .8;
}

._-admin ._-page ._-ui--file-upload ._-icon--wrapper--outer ._-icon--wrapper--inner{
	display:table;
	width:100%;
	height:100%;
	vertical-align: middle;
}

._-admin ._-page ._-ui--file-upload ._-ui--file-upload--img--wrapper{
	position:relative;
	z-index:100;
}

._-admin ._-page ._-ui--file-upload ._-icon--wrapper{
	display:table-cell;
	width:100%;
	height:100%;
	font-size:6em;
	line-height: .5em;
	text-align: center;
	vertical-align: middle;
}

._-admin ._-page ._-ui--file-upload ._-input--file{
	display: none;
}